<aside>
üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2^x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [7]:
def isPower2(n):
    'return true if we have any value x for which n == 2**x'
    if n < 0: # corner case
        return False
    while n > 1:
        if n % 2 == 0:
            n = n // 2
        else:
            return False
    return True

In [8]:
n = 16
isPower2(n)

True

In [9]:
n = 3
isPower2(n)

False

<aside>
üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [10]:
def natural_num_sum(n):
    'return the sum of first n natural numbers'
    return n*(n+1)//2

In [11]:
n = 3
natural_num_sum(n)

6

In [12]:
n = 5
natural_num_sum(n)

15

<aside>
üí° **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [13]:
def factorial(n):
    'return the factorial of n'
    result = 1
    if n < 0:
        return 0
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)

In [14]:
n = 5
factorial(n)

120

In [15]:
n = 4
factorial(4)

24

<aside>
üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [16]:
def power(n,p):
    'return the value of n**p'
    if p == 0:
        return 1
    elif p < 0:
        return(1/n,p)
    else:
        if p%2 == 0:
            half = power(n,p//2)
            return half * half
        else:
            half = power(n,(p-1)//2)
            return n*half*half

In [17]:
n,p = 5,2
power(n,p)

25

In [19]:
n,p = 2,5
power(n,p)

32

<aside>
üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [20]:
def find_maximum(arr):
    'return maximum of the given array'
    if len(arr) == 0:
        return arr
    elif len(arr) == 1:
        return arr[0]
    else:
        mid = len(arr)//2
        left_max = find_maximum(arr[:mid])
        right_max = find_maximum(arr[mid:])
        return max(left_max,right_max)

In [21]:
arr = [1, 4, 3, -5, -4, 8, 6]
find_maximum(arr)

8

In [22]:
arr = [1, 4, 45, 6, 10, -8]
find_maximum(arr)

45

<aside>
üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [23]:
def arithmetic_progression(a,d,N):
    'return the Nth term of aritmetic operation'
    if N < 0:
        return None
    elif N == 1:
        return a
    else:
        return arithmetic_progression(a+d,d,N-1)

In [24]:
a = 2 
d = 1 
N = 5
arithmetic_progression(a,d,N)

6

In [25]:
a = 5
d = 2 
N = 10
arithmetic_progression(a,d,N)

23

<aside>
üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [32]:
def permute_string(string, left, right):
    'return the possible combinations of string'
    if left == right:
        print(''.join(string))
    else:
        for i in range(left, right + 1):
            # Swap characters
            string[left], string[i] = string[i], string[left]  
#             print(f'string after {i} iteration: ',string)
            # permute the remaining characters
            permute_string(string, left + 1, right)  
            # Restore the original order
            string[left], string[i] = string[i], string[left]  

def print_permutations(S):
    string = list(S)
    n = len(string)
    permute_string(string, 0, n - 1)

In [33]:
S = "ABC"
print_permutations(S)

ABC
ACB
BAC
BCA
CBA
CAB

<aside>
üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [34]:
def array_product(arr):
    'return product of all elements in an array'
    if len(arr) == 0:
        return None
    elif len(arr) == 1:
        return arr[0]
    else:
        return arr[0] * array_product(arr[1:])

In [35]:
arr = [1, 2, 3, 4, 5]
array_product(arr)

120

In [36]:
arr = [1, 6, 3]
array_product(arr)

18