5. You have a dataset named customer_data.csv that contains information about customers. The dataset has columns customer_id, age, gender, email, and purchases. Write a Python script to read the dataset, perform data cleaning by removing duplicates and handling missing values, and then calculate the average number of purchases for each gender.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('customer_data.csv')

In [3]:
df.head()

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0

In [4]:
df.dtypes

customer_id      int64
age              int64
gender          object
email           object
purchases      float64
dtype: object

In [12]:
# first remove duplicates on the basis of customer_id column as it is an unique column
df.drop_duplicates(subset=['customer_id'], inplace = True)

In [6]:
len(df)

9

In [10]:
# all columns should have these number of values
print(df.isnull().sum())

customer_id    0
age            0
gender         0
email          0
purchases      2
dtype: int64

In [17]:
#Our data have only one column with missing values
#but for future reference/production we handle missing values for columns: age, gender and purchase
df['age'].fillna(round(df['age'].mean(),2),inplace=True)
df['gender'].fillna('Unknown',inplace=True)
df['purchases'].fillna(0,inplace=True)

In [18]:
# purchases by gender
df.groupby('gender')['purchases'].mean()

gender
F     4.20
M    11.25
Name: purchases, dtype: float64